    header{
    	position: fixed;
        width: 100%;
        height: 60px;
        z-index: 1;
        background-color: #cae8cb;
    }

    nav#menu{
    	display: flex;
    	justify-content: space-between;
        height: 60px;
        width: 100%;
        /*background-color: rgba(187,255,153,0.3);*/
        z-index: 100;
    }

    nav#menu img{
            height: 50px;
            width: 70px;
    }

    div#center{
    	padding: 0px 30px;
        transition: transform .5s;
    }

    div#center ul{
    	height: 60px;
    }

	div#center ul li{
		display: inline-block;
		line-height: 60px;
		width: 120px;
		font-size: 20px;
		text-align: center;
		vertical-align: middle;
		margin-right: -5px; 
		transition: background-color .5s;
	}

	div#center ul li:hover{
        background-color: white;
        cursor: pointer;
	}

    div#center ul li a{
       text-decoration: none;
       color: #3e8e41;
    }

    div#log{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        color: #3e8e41;
    }
     
    div#log h3{
        margin: 0px;
    }
    /*div#log img{
        height: 50px;
        width: 50px;
        cursor: pointer;
	}*/

	div#button input, div#button label{
		display: none;
	}

	@media(max-width: 980px){
	    div#center{
    	    position: absolute;
    	    background-color: rgba(187,255,153,0.8);
    	    margin-top: 60px;
    	    width: 100%;
    	    height: 325px;
    	    padding: 0px;
        }	
        
        div#center ul{
        	width: 100%;
        }

        div#center ul li{
            display: block;
            text-align: left;
            width: 100%;
            border-bottom: 5px solid white;
        }	

        div#center ul li a{
            display: inline-block;
            padding: 0px 40px;
            height: 100%;
            width: 100%;
        }

        div#log{
            margin: 0px;
            padding-left: 40px;
        }
        
        div#button{
        	display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            padding-right: 40px;
	    }

        div#button label{
        	border: 2px solid white;
        	border-radius: 6px;
        	padding: 5px;
	    	display: inline-block;
	    	font-size: 30px;
	    	color: white;
	    	cursor: pointer;
	    }
	}